 body{
    font-family: Verdana;
    background-color: #f2fcfe;
    margin: 0px;
    padding: 0px;
    /*background: linear-gradient(to bottom, #1c92d2 0%, #f2fcfe 20%);*/
}

#heading-box{
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #05386b;
    color:#EDF5E1;
    margin-bottom: 20px;

}
.functionalities-list{
    list-style: none;
    width:500px;
    height: fit-content;
    margin:0px auto;
    padding: 5px 20px;

}

li{
    border:2px solid #05386b;
    border-radius: 10px;
    width: auto;
    height: fit-content;

    margin-left: 0px;
    margin-bottom: 20px;
}
.function-heading{
    font-size: 20px;
    border-bottom:1px solid #05386b;
    text-align: center;
    background-color: #05386b;
    color: #EDF5E1;

}
form{
    width:fit-content;
    height: fit-content;
    margin: auto;
    padding: 10px;
    font-size: 18px;
}
.entity{
    margin-bottom:4px;
    text-align: center;
}
label{
    border-radius: 5px;
    float: left;
    width: 150px;
    display: block;
}
input{
    /*background-color: #EDF5E1;*/
    line-height: 1.5;
    font-size: 18px;
}
.submit-button{
    background-color: #05386b;
    color: white;
    border:1px solid #EDF5E1;
    border-radius: 5px;
    display: block;
    padding:2px 15px;
    margin: 10px auto 0px;
    font-size: 20px;
}
.message{

    display: block;
    margin: 5px auto 0px;
    width: inherit;
}
select{
    font-size: 18px;
}

footer{
    background: #05386b;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
}

#forget_password_div{
    margin-top: 20px;
}

#register_div{
    margin-top: 15px;
}

#status_message{
    margin-top: 15px;
}

.submit-button2{
background-color: #05386b;
    color: white;
    border:1px solid #EDF5E1;
    border-radius: 5px;
    display: inline-block;
    padding:2px 15px;
    margin: 10px auto 0px; 
    font-size: 20px;
}
.login-cancel-box{
    width: 100%;
    margin: auto;
     text-align: center;
}

.homepage_table{
    align-items: center;
    width: 100%;
    
    border: none;
    text-align: center;
    border-collapse:collapse;
    align-content: center;
    justify-content: center;

}

#home_li{
    padding: 10px;
}



th{
 border: 1px solid black;   
}

#no_border{
    border: none;
}
.clearfix{
    text-align: center;
}


#courses-box{

}

#uploadfile-block{
    display: flex;
}