<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Course Page </title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
</head>
<body>

<div>
    <ul id="heading-box">
        <li style="margin:auto;">
            <div th:text="${courseId}">
                Course Admin panel
            </div>
        </li>
    </ul>
</div>

<div>
    <ul id="heading-box2">
        <li>
            <div>
                Hello, <span th:text="${userId}" />
            </div>
        </li>
        <li>
            <div class="nav-bar">
                <form class="nav-bar-element" th:action="@{/logout}" method="post">
                    <div class="entity">
                        <button type="submit" class="submit-button" value="Logout" name="Logout">Logout</button>
                    </div>
                </form>
                <form class="nav-bar-element" th:action="@{/home}" method="post">
                    <button type="submit" name="questionmanager" class="submit-button">Home page</button>
                </form>
                <form class="nav-bar-element" th:action="@{/course/admin}" method="post">
                    <button type="submit" class="submit-button" name="courseadmin" th:if="${checkRole}">Course Admin</button>
                </form>
                <form class="nav-bar-element" th:action="@{/questionManager}" method="post">
                    <button type="submit" name="questionmanager" class="submit-button" th:if="${checkRole}">Question Manager</button>
                </form>
                <form class="nav-bar-element" th:action="@{/formgroups/getFormulaQuestions}" method="post">
                    <button type="submit" name="formgroups" class="submit-button" th:if="${checkRole}">Group configure</button>
                </form>
                <form class="nav-bar-element" th:action="@{/formgroups/runalgorithm}" method="post">
                    <button type="submit" name="runalgorithm" class="submit-button" th:if="${checkRole}">Run Formation Algorithm</button>
                </form>
            </div>
        </li>

    </ul>
</div>
<div>
    <form th:action="@{/survey}" method="post" th:if="${checkRole==false} and ${surveyAvailable}">
        <h3>Survey Available : Title </h3>
        <a th:href="survey">Take Survey</a>
    </form>
</div>

<div th:if="${checkRole} and ${surveyPublished}">
    <h3 >Survey Response</h3>
    <a th:href="displayResponse">See Response</a>
</div>
</body>
</html>