<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Home Page </title>

    </head>
	<body>
	<h2></h2>
	    <h2>Hello,<span th:text="${userId}"/></h2>
	    
	    
	      <table border="1px solid" style="border-collapse:collapse;text-align:center">
	       <thead>
                    <tr>
                        <th>Course Id </th>
                        <th>Course Name</th>
                        <th>Role </th>
                        <th>     </th>
                    </tr>
           </thead>
	    	<tr>
	    	       <tr th:each="course: ${courses}">

                        <td th:text="${course.courseId}" />
                        <td th:text="${course.courseName}" />
                        <td th:text="${course.role}" />
                        <td>
                            <form th:action="@{/course}" method="post" >
                                <input type="hidden"  th:value="${course.courseName}" name="courseName"/>
                                <input  type="hidden" th:value="${course.courseId}" name="courseId" />
                                <input  type="hidden" th:value="${course.role}" name="userType" />
                                <input  type="hidden" th:value="${userId}" name="userId" />
                                <button type="submit" name="save" th:if="${checkRole}" > GOTO Course</button>
                            </form>
                        </td>
                        
                   </tr> 
	    	</tr>
	      </table>  
	    
	</body>
</html> 