<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<div>
		<h1>Login Form</h1>

		<form th:action ="@{/login}" th:object = "${loginUser}" method="post">
			<div>
				<label for="bannerId">Banner Id</label>
				<input type="text" id="bannerId" name="bannerId" autofocus="autofocus" required>
			</div>
			</br>

			<div>
				<label for="password">Password</label>
				<input type="text" id="password" name="password" autofocus="autofocus">
			</div>

			<input type="submit" value="LOGIN"/>
			<p th:text="${Error}"></p>

		</form>
		<br />
	</div>
</body>
</html>