<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
</head>
<body>
<div id="heading-box">
    Group formation tool 
</div>
<ul class="functionalities-list">
    <li>
    <div class="function-heading">Reset your password</div>
        <form th:action ="@{/updateNewPassword}"  method="post">
            <div class="entity">
                <label for="newPassword" style="width: 200px">New Password</label>
                <input type="text" id="newPassword" name="newPassword" autofocus="autofocus" required >
            </div>
            <div class="entity">
                <label for="confirmPassword" style="width: 200px">Confirm Password</label>
                <input type="text" id="confirmPassword" name="confirmPassword" autofocus="autofocus" required >
            </div>
            <input type="hidden" name="passKey" th:value="${param.passKey}"/>
            <div class="entity">
            <input type="submit" class="submit-button" value="Reset" />
            </div>
            <span class="message" th:text="${Error}" id="errorMsg"></span>
        </form>
    </li>
</ul>

</body>
</html>