<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Admin</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />

</head>
<body>
<div id="heading-box" th:text="${courseId}">
    Course Admin panel
</div>
<h3>
    Hello, <span th:text="${userId}" />
</h3>
<form th:action="@{/logout}"  method="post">
    <div class="entity">
        <button type="submit" class="submit-button" value="Logout" name="Logout">Logout</button>
    </div>
</form>
<!--<ul class="functionalities-list">-->

<!--    <li>-->
<!--        <div class="function-heading">Assign teaching assistant</div>-->
<!--        <form th:action="@{/questionList}" method="post">-->
<!--            <input type="hidden" th:value="${userId}" name="userId" />-->
<!--            <input type="hidden" th:value="${courseId}" name="courseId" />-->
<!--            <button type="submit" name="save" class="submit-button">Question list</button>-->
<!--        </form>-->
<!--        <form th:action="@{/addQuestion}" method="post">-->
<!--            <input type="hidden" th:value="${userId}" name="userId" />-->
<!--            <input type="hidden" th:value="${courseId}" name="courseId" />-->
<!--            <button type="submit" name="save" class="submit-button">Add Question</button>-->
<!--        </form>-->
<!--    </li>-->
<!--</ul>-->
</body>
</html>