<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Admin</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />

</head>
<body>
<div id="heading-box" th:text="${courseId}">
    Course Admin panel
</div>
<h3>
    Hello, <span th:text="${userId}" />
</h3>

<div class="nav-bar">
    <form class="nav-bar-element" th:action="@{/logout}" method="post">
        <div class="entity">
            <button type="submit" class="submit-button" value="Logout" name="Logout">Logout</button>
        </div>
    </form>
    <form class="nav-bar-element" th:action="@{/course}" method="post">
        <div class="entity">
            <button type="submit" name="CourseHome" class="submit-button">Course Home</button>
        </div>
    </form>
    <form class="nav-bar-element" th:action="@{/courseadmin}" method="post">
        <div class="entity">
            <button type="submit" name="couseAdmin" class="submit-button">Course Admin</button>
        </div>
    </form>
    <form class="nav-bar-element" th:action="@{/questionManager}" method="post">
        <div class="entity">
            <button type="submit" name="questionManager" class="submit-button">Question Manager</button>
        </div>
    </form>
</div>

<ul class="functionalities-list">
    <li>
        <div class="function-heading">Create Question</div>
        <div class="entity">
            Here you create questions
        </div>
        <form th:action="@{/createOption}" method="post">
            <input type="hidden" th:value="${userId}" name="userId" />
            <input type="hidden" th:value="${courseId}" name="courseId" />
            <button type="submit" name="Next" class="submit-button">Next</button>
        </form>
    </li>
</ul>

</body>
</html>