<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
</head>
<body>
<div>
    <ul id="heading-box">
        <li style="margin:auto;">
            <div th:text="${courseId}">
                Course Admin panel
            </div>
        </li>
    </ul>
</div>
<div>
    <ul id="heading-box2">
        <li>
            <div>
                Hello, <span th:text="${bannerId}" />
            </div>
        </li>
        <li>
            <div class="nav-bar">
                <form class="nav-bar-element" th:action="@{/logout}" method="post">
                    <div class="entity">
                        <button type="submit" class="submit-button" value="Logout" name="Logout">Logout</button>
                    </div>
                </form>
                <form class="nav-bar-element" th:action="@{/home}" method="post">
                    <button type="submit" name="questionmanager" class="submit-button">Home page</button>
                </form>
            </div>
        </li>
    </ul>
</div>
<div>
    <h2 align="center">Survey Form</h2>
    <form th:action ="@{/survey}" method="post">
        <div th:each="question : ${questions}">
            <p th:text = "${question.surveyQuestionTopic}" th:for="${question.surveyQuestionId}"/>
            <label  th:text = "${question.surveyQuestionDescription}" th:for="${question.surveyQuestionId}"/>
            <br/><br/>
            <div th:switch = "${question.surveyQuestionType}">

                <div th:case="'txt'">
                    <input th:id="${question.surveyQuestionId}" type="text"  th:name="${question.surveyQuestionId}" placeholder="Enter Your Answer" required/>
                </div>

                <div th:case="'numeric'">
                    <input th:id="${question.surveyQuestionId}" type="number" th:name="${question.surveyQuestionId}" placeholder="Enter Number" required/>
                </div>

                <div th:case="'mcqm'">
                    <div th:each="option : ${question.surveyQuestionsOptions}">
                        <input th:id="${option.key}" th:text="${option.value}" th:value="${option.key}" type="checkbox" th:name="${question.surveyQuestionId}" value="option" />
                    </div>
                </div>

                <div th:case="'mcqs'">
                    <div th:each="option : ${question.surveyQuestionsOptions}">
                        <input th:id="${option.key}"  th:text="${option.value}" th:value="${option.key}" value="option" th:name="${question.surveyQuestionId}" type="radio" required/>
                    </div>
                </div>
            </div>
        </div>
<!--        <input type="hidden"  th:value="${questions}" name="questions"/>-->
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>